.container{
    max-width: 500px;
    margin: 150px auto;  
    box-shadow: 0 0 12px #ddd;
    padding: 0 20px;
    padding-bottom: 12px;
}
.title{
    font-size: 1.5rem; 
    background-color: #442445;
    color: #fff;
    padding: 4px;
    text-align: center;
    margin: 0 -20px;
}
.userImg{
    max-width: 100px;
    max-height: 100px;
    margin: 12px auto;
    background: #ddd;
    border-radius: 50%;
}
.userImg input{
    display: none;
}
.inputContainer{
    display: flex;
    flex-direction: column;
    margin: 10px 0;
}
.inputContainer label{
    font-weight: 600;
    color: #442445;
}
.inputContainer input{
    background-color: #f3f3f3;
    border: none;
    border-radius: 3px;
    padding: 8px;
    min-height: 25px;
    font-size: 1.12rem;
}
.inputContainer input:focus{
    outline: none;
}
.genderContainer{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 12px 45px;
}
.genderContainer label{
    cursor: pointer;
}
.genderContainer input{
    height: 14px;
    width: 14px;
    accent-color: #442445;
    margin-top: 6px;
    margin-left: 15px;
}
.submitBtn{
    background-color: #442445;
    color: #fff;
    font-weight: 600;
    text-align: center;
    display: block;
    width: 100%;
    padding: 12px;
    border: none;
    cursor: pointer;
    font-size: 1.12rem;
    border-radius: 4px;
    margin-top: 12px;
}